stdout.txt

font.000
src/Main.sc
src/Main.sco
src/PncMenu.sc
resource.001
resource.map
resource.001
resource.map
resource.map
resource.001
resource.map
resource.001
resource.map
resource.map
resource.001
resource.001
resource.map
resource.map
resource.001
src/rm99.sc
src/rm1.sc
resource.001
resource.map
resource.001
resource.map
src/Main.sc
src/rm99.sc
resource.map
resource.001
resource.001
resource.map
resource.001
resource.map

resource.001
resource.map
resource.001
resource.map
src/rm99.sc
resource.001
resource.map
resource.map
resource.001
resource.001
resource.map
src/rm1.sc
resource.001
resource.map
src/rm99.sc
src/rm4.sc
resource.001
resource.map
src/Main.sc
resource.map
resource.001
resource.map
resource.001
